.medical-event-patient {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #e3e3e3;
  justify-content: space-around;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  .key-value {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    color: black;
    display: flex;

    p {
      text-align: center;
    }
  }
}
