* {
  padding: 0;
  margin: 0;
}
.patient-profile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;

  .profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;

    .modal-open-button {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 25px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      border: none;
    }

    .column {
      padding: 10px 30px;
      flex: 1;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      .attribute {
        margin: auto 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        min-width: 300px;
        font-size: x-large;

        .comorbidities {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;

          .comorbidity {
            border: 1px solid black;
            border-radius: 3px;
            background-color: #e3e3e3;
            margin: 5px;
            padding: 0 5px;
            cursor: default;
          }
        }
      }
      > * {
        margin: 15px 0;
      }

      .profile-photo-div {
        flex: 5;
        display: flex;
        justify-content: center;
        border-radius: 50%;

        .profile-photo-image {
          max-width: 500px;
          max-height: 500pxpx;
        }
      }

      .header {
        min-width: 300px;
        font-size: x-large;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: 2;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .email-tel {
        flex: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;

        .email {
          width: 100%;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          border-radius: 3px;
          border: 1px solid black;
        }

        > * {
          margin: 20px;
        }
      }
    }

    .toggle-add-medical-event {
      width: 100%;

      .toggle-add-medical-event-button {
        transition: 0.5s;
        display: block;
        margin: auto;
        height: 20px;
        width: 50%;
      }

      .toggle-add-medical-event-button-clicked {
        height: 3px;
        transition: 0.5s;
        display: block;
        margin: auto;
        width: 100%;
        font-size: 0;
        border: none;
        background-color: blue;
      }
    }
  }

  .add-medical-event-hide {
    transition: 5s;
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 100%;
    border: none;
    display: none;
    > * {
      opacity: 0;
      transition: 5s;
    }
  }

  .add-medical-event-show {
    transition: 5s;
    opacity: 1;
    visibility: visible;
    height: 500px;
    opacity: 1;
    width: 100%;
    border: 3px solid blue;
    z-index: 5;

    background-color: white;

    > * {
      opacity: 1;
      transition: 5s;
    }
  }
}
