.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  width: 600px;
  height: 250px;
  display: flex;
  flex-direction: row;

  .picture-and-age {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    .picture {
      padding: 15px;
      height: 200px;
      width: 200px;

      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        object-fit: contain;
        border-radius: 50%;
        height: 100%;
        width: 100%;
      }
    }

    .age {
      flex: 1;

      p {
        text-align: center;
      }
    }
  }

  .name-and-buttons {
    padding-left: 25px;
    flex: 8;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    .name {
    }

    .buttons {
      button {
        width: 30%;
        height: 100%;
      }
    }
  }
}
